<h1 class="mt-3">
    Pipes <small>Angular</small>
</h1>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Variable</th>
                    <th>Pipe</th>
                    <th>Salida</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> {{ nombre2 }} </td>
                    <td> capitalizado </td>
                    <!-- Se crea un pipe perzonalizado con 'ng g pipe pipes/capitalizado' -->
                    <td> {{ nombre2 | capitalizado:true }} </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Uppercase </td>
                    <td> {{ nombre | uppercase }} </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Lowercase </td>
                    <td> {{ nombre | lowercase }} </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Slice:3 </td>
                    <!-- elimina la cantidad de posiciones indicadas en el parametro -->
                    <td> {{ nombre | slice:3 }} </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> Slice:0:3 </td>
                    <!-- captura la cantidad de posiciones indicadas entre los parametros (posicion inicial, posicion final) -->
                    <td> {{ nombre | slice:0:3 }} </td>
                </tr>
                <tr>
                    <td> {{ arreglo }} </td>
                    <td> Slice:1:5 </td>
                    <!-- arreglo: captura la cantidad de posiciones indicadas entre los parametros (posicion inicial, posicion final) -->
                    <td> {{ arreglo | slice:1:5 }} </td>
                </tr>
                <tr>
                    <td> {{ PI }} </td>
                    <td> number'3.0-0' </td>
                    <!-- arreglo: captura la cantidad de posiciones indicadas entre los parametros (posicion inicial, posicion final) -->
                    <td> {{ PI | number:'3.0-0' }} </td>
                </tr>
                <tr>
                    <td> {{ PI }} </td>
                    <td> number:'.0-4' </td>
                    <!-- arreglo: captura la cantidad de posiciones indicadas entre los parametros (posicion inicial, posicion final) -->
                    <td> {{ PI | number:'.0-4' }} </td>
                </tr>
                <tr>
                    <td> {{ porcentaje }} </td>
                    <td> percent </td>
                    <!-- arreglo: captura la cantidad de posiciones indicadas entre los parametros (posicion inicial, posicion final) -->
                    <td> {{ porcentaje | percent }} </td>
                </tr>
                <tr>
                    <td> {{ porcentaje }} </td>
                    <td> percent:'.0-2' </td>
                    <!-- arreglo: captura la cantidad de posiciones indicadas entre los parametros (posicion inicial, posicion final) -->
                    <td> {{ porcentaje | percent:'.0-2' }} </td>
                </tr>
                <tr>
                    <td> {{ salario }} </td>
                    <td> currency Default </td>
                    <td> {{ salario | currency }} </td>
                </tr>
                <tr>
                    <td> {{ salario }} </td>
                    <td> currency:'EUR' </td>
                    <td> {{ salario | currency:'EUR' }} </td>
                </tr>
                <tr>
                    <td> {{ salario }} </td>
                    <td> currency:'CAD':'symbol-narrow':'.0-0' </td>
                    <td> {{ salario | currency:'CAD':'symbol-narrow':'.0-0' }} </td>
                </tr>
                <tr>
                    <td> {{ salario }} </td>
                    <td> currency:'CAD':'symbol':'.0-0' </td>
                    <!-- El parametro acepta valores personalizados. por ejemplo monedas perzonalidas para juegos -->
                    <td> {{ salario | currency:'CAD':'symbol':'.0-0' }} </td>
                </tr>
                <tr>
                    <td> {{ valorPromesa }} </td>
                    <td> async </td>
                    <!-- en el caso de reject el PIPE no pinta ninguna valor y se tiene que trabajar el catch -->
                    <td> {{ valorPromesa | async }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date </td>
                    <td> {{ fecha | date }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'medium' </td>
                    <td> {{ fecha | date:'medium' }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'short' </td>
                    <td> {{ fecha | date:'short' }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'MMMM -dd' </td>
                    <td> {{ fecha | date:'MMMM -dd' }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'MMMM -dd':'':'en' </td>
                    <td> {{ fecha | date:'MMMM -dd':'':'en' }} </td>
                </tr>
                <tr>
                    <td> {{ fecha }} </td>
                    <td> date:'MMMM -dd':'':'{{idioma}}'
                        <br>
                        <button (click)="idioma='es-PE'" class="mr-1 btn btn-primary">Español</button>
                        <button (click)="idioma='en'" class="mr-1 btn btn-secondary">Inglés</button>
                        <button (click)="idioma='fr'" class="mr-1 btn btn-success">Francés</button>
                    </td>
                    <td> {{ fecha | date:'MMMM -dd':'':idioma }} </td>
                </tr>
                <tr>
                    <td> {{ nombre }} </td>
                    <td> contrasena: {{ activar }} </td>
                    <br>
                    <!-- se crea pipe "ng g pipe pipes/contrasena" para ocultar contenido de contraseña -->
                    <button (click)='activar=!activar' class="btn btn-outline-primary">Activar/Desactivar</button>
                    <td> {{ nombre | contrasena: activar }} </td>
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>
        <hr>
        <ul>
            <li *ngFor="let item of arreglo | slice:5:20"> {{item}}</li>
        </ul>

        <h3>Json</h3>
        <hr>
        <div class="row mb-5">
            <div class="col">
                <pre>{{ hero | json }}</pre>
            </div>

        </div>

        <h3>DOM seguro</h3>
        <hr>

        <div class="row mb-5">
            <div class="col">
                <!-- se crea pipe "ng g pipe pipes/domseguro" para llamar enlaces externo -->
                <iframe width="560" height="315" [src]="videoURL | domseguro" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
            </iframe>
            </div>
        </div>

    </div>

</div>